################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P.O.S_Minimarket/FileContentIndex
/pos_api_app/obj/Debug/net9.0
/.vs/P.O.S_Minimarket
/pos_api_app/bin/Debug/net9.0
/pos_api_app/obj
/.vs/ProjectEvaluation
pos_api_app/note.txt
