################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/P.O.S_Minimarket/FileContentIndex
/pos_api_app/obj/Debug/net9.0
/.vs/P.O.S_Minimarket
